@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inconsolata:wght@300;400;600&display=swap');

:root {
    --header-height: 3.5rem;
    --first-color: hsl(204, 86%, 45%);
    --first-color-dark: hsl(204, 88%, 38%);
    --first-color-light: hsl(204, 100%, 71%);
    --title-color: hsl(0, 0%, 87%);
    --text-color: hsl(0, 0%, 69%);
    --body-color: hsl(200, 12%, 5%);
    --container-color: hsl(200, 10%, 8%);
    --border-color: hsl(0, 0%, 20%);
    --white: #fff;
    --body-font: "Inconsolata", monospace;
    --bigger-font-size: 3.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.2rem;
    --large-font-size: 1.125rem;
    --weight-300: 300;
    --weight-400: 400;
    --weight-600: 600;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.switcher__toggle .fa-moon {
    display: none;
}

#day-night:checked~* .fa-sun {
    display: none;
}

#day-night:checked~* .fa-moon {
    display: block;
}

#day-night:checked~* {
    --title-color: hsl(204, 86%, 45%);
    --text-color: hsl(0, 0%, 41%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(204, 86%, 95%);
    --border-color: hsl(0, 0%, 87%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input,
textarea,
button,
body {
    font-size: var(--larger-font-size);
}

copy_text {
     -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

main {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'><path fill='royalblue' fill-opacity='0.1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'></path></svg>");
}

input,
textarea,
button {
    outline: none;
    border: none;
    background-color: transparent;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-600);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--first-color-dark);
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 6rem;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--weight-400);
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.section__title::before {
    content: attr(data-title);
    display: block;
    color: var(--first-color);
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

.title-center {
    text-align: center;
    margin-bottom: 3rem;
}

.header {
    font-family: 'Black Ops One', cursive;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 3px 9px hsls(0, 0%, 0%, 0.05);
    z-index: 100;
}

.nav,
.nav__list {
    display: flex;
}

.nav {
    height: calc(var(--header-height) + 0.5rem);
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--first-color);
    font-size: var(--h2-font-size);
}

.nav__list {
    column-gap: 1.5rem;
}

.nav__link {
    color: var(--text-color);
    transition: all 0.3s ease;
}

.nav__toggle {
    display: none;
}

.active-link,
.nav__link:hover {
    color: var(--first-color);
}

.home {
    padding-top: 13rem;
    height: 100vh;
}

.home__container {
    align-items: center;
    margin-left: 25rem;
}

.home__small {
    font-size: var(--big-font-size);
    font-weight: var(--weight-600);
    letter-spacing: 1px;
    color: var(--first-color-light);
}

.home__title {
    font-size: var(--bigger-font-size);
    line-height: 1.4;
    color: var(--first-color);
}

.home__title span {
    font-weight: var(--weight-300);
    color: var(--text-color);
}

.home__title a {
    font-weight: var(--weight-300);
    color: var(--first-color-light);
}

.home__btns {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: var(--white);
    padding: 0.9rem 2.5rem;
    font-size: var(--large-font-size);
    border-radius: 0.5rem;
    transition: all 0.5s ease;
    text-align: center;
}

.btn--transparent {
    background-color: transparent;
    color: var(--first-color);
}

.btn:hover {
    background-color: var(--first-color-dark);
}

.btn--transparent:hover {
    background-color: var(--first-color);
    color: var(--white);
}

.about__container {
    grid-template-columns: 4fr 8fr;
    align-items: center;
}

.about__img-wrapper {
    position: relative;
    height: 400px;
}

.about__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.about__description {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

.about__description span {
    color: #A4123F;
}

.about__data {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
    margin-bottom: 3rem;
}

.data__item {
    display: flex;
    column-gap: 0.75rem;
}

.data__title {
    font-size: var(--large-font-size);
}

.about__link {
    color: hsl(209, 73%, 57%);
}

.about__bottom,
.about__social-links {
    display: flex;
    align-items: center;
}

.about__bottom {
    column-gap: 3rem;
}

.about__social-links {
    column-gap: 1.25rem;
}

.about__social-links::after,
.about__social-links::before {
    content: "";
    background-color: var(--text-color);
    width: 60px;
    height: 2px;
}

.about__social-link {
    color: var(--text-color);
    transition: all 0.3s ease;
}

.about__social-link:hover {
    color: var(--first-color);
}

.skills {
    background-color: var(--container-color);
}

.skills__container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--border-color);
    padding: 2.5rem 1.8rem;
    border-radius: 0.5rem;
}

.skills__img {
    height: 10rem;
}

.skills__name {
    text-align: center;
    padding-top: 1rem;
    font-size: var(--larger-font-size);
}

.work__container {
    grid-template-columns: repeat(3, 1fr);
}

.works p {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: var(--first-color);
}

.work__card {
    position: relative;
    cursor: pointer;
}

.work__img {
    vertical-align: middle;
}

.work__details {
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.work__img,
.work__details {
    border-radius: 0.5rem;
}

.work__title {
    font-size: var(--h3-font-size);
}

.work__title,
.work__description {
    color: var(--white);
    transform: translateY(1.5rem);
    transition: all 0.3s ease-in-out;
}

.work__description {
    font-size: var(--large-font-size);
}

.work__card:hover .work__details {
    opacity: 1;
}

.work__card:hover :is(.work__title, .work__description) {
    transform: translateY(0);
}

.contact__container {
    grid-template-columns: 5fr 7fr;
    align-items: center;
}

.contact__item {
    display: flex;
    align-items: flex-start;
    column-gap: 1.25rem;
}

.contact__item:not(:last-child) {
    margin-bottom: 2.5rem;
}

.contact__icon {
    color: var(--first-color);
    font-size: var(--large-font-size);
    line-height: 1.8;
}

.contact__title {
    font-size: var(--larger-font-size);
}

.contact__data {
    font-size: var(--large-font-size);
}

.form__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
}

.input__control {
    color: var(--title-color);
    background-color: var(--container-color);
    padding: 0.9rem 0.75rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
}

.textarea {
    height: 140px;
    resize: none;
}

.contact__btn {
    float: right;
}

.footer {
    font-family: 'Inconsolata', monospace;
    background-color: var(--container-color);
    padding-block: 3rem;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    color: var(--text-color);
}

.footer__social-links {
    display: flex;
    column-gap: 1.25rem;
}

.footer__social-link {
    color: var(--text-color);
    font-size: var(--large-font-size);
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    :root {
        --bigger-font-size: 3rem;
        --big-font-size: 2.5rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --larger-font-size: 1rem;
        --large-font-size: 0.938rem;
    }

    .home__container {
        margin-left: 17rem;
    }

    .about__img-wrapper {
        height: 320px;
    }

}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .home__container,
    .about__container,
    .contact__container {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .home__content {
        order: 1;
    }

    .about__container,
    .contact__container {
        row-gap: 2rem;
    }

    .about__img:not(:first-child) {
        display: none;
    }

    .about__img:first-child {
        clip-path: initial;
        transform: initial;
        left: 50%;
        translate: -50%;
    }

    .skills__container,
    .work__container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        flex-direction: column;
        align-items: center;
        row-gap: 0.75rem;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .nav__toggle {
        display: block;
        color: var(--text-color);
        font-size: 1.3rem;
    }

    #nav-toggler:checked~.nav__list {
        max-height: 500px;
        padding: 1.7rem;
    }

}

@media screen and (max-width: 576px) {
    .home {
        padding-top: 7rem;
    }

    .section {
        padding-block: 4rem;
    }

    .skills__container,
    .work__container,
    .form__group {
        grid-template-columns: 1fr;
    }

    .footer__container {
        flex-direction: column;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .about__data {
        grid-template-columns: 1fr;
    }

    .about__bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .about__bottom {
        row-gap: 1.25rem;
    }

    .about__bottom .btn {
        order: 1;
    }

}
